<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.slimani.bi_sonalgaz"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sonelgaz"
        android:label="SONELGAZ BI"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        tools:node="replace"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        >

        <activity android:name=".auth.SplashActivity" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".auth.LoginActivity" android:windowSoftInputMode="stateHidden"
           />

        <activity
            android:name=".home.HomeActivity" android:windowSoftInputMode="stateHidden"
            android:theme="@style/MyActionBar"
            android:label="SONELGAZ BI &amp; Reporting"
            />

        <activity
            android:name=".adhoc.AdhocActivity" android:windowSoftInputMode="stateHidden"
            android:theme="@style/FullScreen"/>

        <activity
            android:name=".setting.SettingActivity" android:windowSoftInputMode="stateHidden"
            />

        <activity
            android:name=".setting.ServerActivity" android:windowSoftInputMode="stateHidden"
            />

        <activity
            android:name=".setting.UserActivity" android:windowSoftInputMode="stateHidden"
            />

        <activity
            android:name=".setting.CubeActivity" android:windowSoftInputMode="stateHidden"
            />

        <activity
            android:name=".reports.ReportListActivity" android:windowSoftInputMode="stateHidden"
            android:theme="@style/MyActionBar"
            android:label="Reports"
            />

        <activity
            android:name=".reports.ReportActivity" android:windowSoftInputMode="stateHidden"
            />

        <activity
            android:name=".dashboards.DashboardListActivity"
            android:label="Dashboards"
            android:theme="@style/MyActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".dashboards.DashboardActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".dashboards.SaveDashboardActivity"
            android:label="Add New Dashboards"
            android:theme="@style/MyActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".auth.forgetPassword.ForgetPasswordActivity" android:windowSoftInputMode="stateHidden"></activity>

    </application>



</manifest>